* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: hsl(0, 88%, 29%) hsl(0, 67%, 15%);
}

::-webkit-scrollbar {
    width: 0.6rem;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 88%, 29%);
}

::-webkit-scrollbar-track {
    background: hsl(0, 67%, 15%);
}

body {
    background-color: hsl(240, 100%, 95%);
    color: hsl(0, 78%, 0%);
    font-family: Arial, Helvetica, sans-serif;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#title {
    position: relative;
    height: fit-content;
    padding: 1.8rem;
    font-size: 2.0rem;
    display: grid;
    place-items: center;
    background-color: hsl(0, 67%, 15%);
    color: hsl(0, 0%, 92%);
}
#header {
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 2.6rem;
    max-height: fit-content;
    background-color: hsl(0, 88%, 29%);
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
    box-sizing: border-box;
    padding: 0 2rem 0 2rem;
    z-index: 2;
}

.header-item {
    color: white;
    height: 100%;
    display: grid;
    place-items: center;
    text-decoration: none;
    padding: 0.5rem;
}

.header-item:hover {
    background-color: rgba(200, 0, 0, 0.4);
}

.full-height-header {
    min-height: calc(100vh - (2.6rem*2 + 6.5rem)) !important;
}

.full-height {
    min-height: calc(100vh - 2.6rem);
    max-height: fit-content;
}

#intro {
    place-items: center;
    padding: 5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#intro div {
    display: grid;
    place-items: center;
    height: 100%;
}

#intro-text {
    animation: gentle-flow-from-bottom 1s;
    z-index: 0;
    height: 100%;
    transform: translateY(-2.6rem);
}

ul {
    padding-left: 20px;
}

h2 {
    color: hsl(0, 67%, 15%);
}

section::before {
    content: "";
    height: 2.6rem;
    width: 100%;
    display: block;
}

section {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

p {
    line-height: 1.6rem;
}

#intro-text {
    animation: gentle-flow 1s;
    z-index: 0;
}

@keyframes gentle-flow {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes not-so-gentle-flow {
    0% {
        opacity: 0;
        transform: rotateZ(1440deg) scale(0%);
    }
    100% {
        opacity: 1;
        transform: rotateZ(0deg) scale(100%);
    }
}

.animated {
    animation: not-so-gentle-flow 1s;
}